---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

a, a:hover {
  color:#DF0000;
  }

@media print, screen and (max-width: 960px) {
  section {
    border-width: 0px 0;
    } 
  }

blockquote {
  margin: 9px;
  font-style: normal;
  }

h1 {
  color: #ffffff;
  font-weight: 700;
  text-shadow: 1px 0.5px 0px #eb452b, 
               2px 1px 0px #efa032, 
               3px 1.5px 0px #46b59b, 
               4px 2px 0px #017e7f, 
               5px 2.5px 0px #052939, 
               6px 3px 0px #ebebeb, 
               7px 3.5px 0px #ebebeb, 
               8px 4px 0px #ebebeb, 
               9px 4.5px 0px #ebebeb;
  }

body {
  font-family: 'Raleway', sans-serif;
  }
