---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

a, a:hover {
  color:#DF0000;
  }

@media print, screen and (max-width: 960px) {
  section {
    border-width: 0px 0;
    } 
  }

blockquote {
  margin: 9px;
  font-style: normal;
  }

h1 {
  color: #ffffff;
  font-weight: 700;
  text-shadow: 1px 1px 0px #eb452b, 
               2px 2px 0px #efa032, 
               3px 3px 0px #46b59b, 
               4px 4px 0px #017e7f, 
               5px 5px 0px #052939, 
               6px 6px 0px #f7f7f7, 
               7px 7px 0px #f7f7f7, 
               8px 8px 0px #f7f7f7, 
               9px 9px 0px #f7f7f7;
  }

body {
  font-family: 'Raleway', sans-serif;
  }
